.window {
    width: 100vw;
    overflow-x: hidden !important;
    min-height: 100vh;
}

.container {
    height: 88vh;
    width: 100vw;
    transition: all 0.2s;

    &.auth-container {
        margin: 0 auto;
        text-align: center;
    }
}

.scroll-container {
    height: 100%;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
}


// Desktop
@media only screen and (min-width : $desktop) {
    .container {
        &.auth-container {
            width: 380px;
            padding-top: 9vh;
        }
    }
}