.footer-top, .footer-bottom {
    border-top: 1px solid $grey-light;
    display: flex;
    align-items: center;
    padding: 0 30px;
    
    h5 {
        font-size: 16px;
        font-weight: 600;
        margin-right: auto;
        color: #333;
    }

    .icon {
        height: 30px;
        margin-right: 20px;
    }

    .chevron {
        height: 20px;
        justify-self: flex-end;
    }

    #speechbubble {
        margin-left: 1px;
        height: 32px;
    }

}

.footer-top {
    grid-row: 4/5;
}

.footer-bottom {
    grid-row: 5/6;
}  


/* ==========================================
    800px
========================================== */


@media only screen and (min-width : $desktop) {
    
    .footer-top, .footer-bottom {
        display: none;
    }
}   